<script src="https://maps.googleapis.com/maps/api/js?key=<%=@api_key%>&callback=initMap"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->


<!--<div class="wardsLst" style="width:150px;">-->
<!--  <% @wards.each do |ward| %>-->
<!--  <ul>-->
<!--    <li class="has_cmt"><%= ward.name %></li>-->
<!--    <ul id="cmt">-->
<!--      <li>Water</li>-->
<!--      <li>Education</li>-->
<!--    </ul>-->
<!--  </ul>-->
<!--  <% end %>-->
<!--</div>-->


<div id="map" style='width: 100%; height: 800px; margin:auto;'></div>

 
<script type="text/javascript">
var mapOptions = {
  //center: new google.maps.LatLng(31.1048,77.1734),
  center: new google.maps.LatLng(30.560554149332777, 77.52290278673172),
  zoom: 13
};

handler = Gmaps.build('Google');
handler.buildMap({ provider: mapOptions, internal: {id: 'map'}}, function(){
  handler.addMarkers(<%=raw @marker_hash.to_json %>);
  handler.addPolygons(<%=raw @regions_1.to_json%>,{strokeColor: '#FF0000', fillColor: '#FF0000'});
  handler.addPolygons(<%=raw @regions_2.to_json%>,{strokeColor: '#0000FF', fillColor: '#0000FF'});
  handler.addPolygons(<%=raw @regions_3.to_json%>,{strokeColor: '#228B22', fillColor: '#228B22'});
  handler.addPolygons(<%=raw @regions_4.to_json%>,{strokeColor: '#FFD700', fillColor: '#FFD700'});
  handler.addPolygons(<%=raw @regions_5.to_json%>,{strokeColor: '#FF4500', fillColor: '#FF4500'});
  handler.fitMapToBounds();

});
</script>