!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title Rishi
		= stylesheet_link_tag    'application', media: 'all'
		= javascript_include_tag 'application'
		= csrf_meta_tags
	%body
		- if flash[:notice]
			.alert
				%span.closebtn{:onclick => "this.parentElement.style.display='none';"} ×
				#{flash[:notice]}
		#header.header
			%ul
				- if current_user
					%li
						= link_to "SIGN OUT", signout_path, method: :delete
				- else
					%li= link_to "SIGN IN", "/signin"
				%li
					%a#donateNav{:href => "http://www.projectrishi.org/donate", :target => "_blank"} DONATE
				%li
					%a#aboutNav{:href => "/about"}ABOUT
				%li
					%a#travelNav{:href => "/travel"} TRAVEL
				%li
					%a#projectsNav{:href => "/committees"} PROJECTS
				%a{:href => "/"}
					.logo>
						%img{:src => "/assets/logo_with_title.png"}/
		= yield
